@{
    ViewData["Title"] = "Description";
}
<h1>@ViewData["Title"] :</h1>

<p>Dependency injection in asp.net core And Show the difference between the three methods: Transient - Scoped - Singleton </p>
